/****************************** CSS COLORS ******************************/

/*** white ***/
.white{
    color: #FFF !important;
}
.white-bg{
    background-color: #FFF !important;
}
.white-border{
    border-color: #FFF !important;
}
/*** black ***/
.black{
    color: #000 !important;
}
.black-bg{
    background-color: #000 !important;
}
.black-border{
    border-color: #000 !important;
}
/*** grey ***/
.grey{
    color: #B9B9B9 !important;
}
.grey-bg{
    background-color: #B9B9B9 !important;
}
.grey-border{
    border-color: #B9B9B9 !important;
}
/*** bluegrey ***/
.bluegrey{
    color: #567482 !important;
}
.bluegrey-bg{
    background-color: #567482 !important;
}
.bluegrey-border{
    border-color: #567482 !important;
}
/*** red ***/
.red{
    color: #FE0000 !important;
}
.red-bg{
    background-color: #FE0000 !important;
}
.red-border{
    border-color: #FE0000 !important;
}
/*** green ***/
.green{
    color: #38761d !important;
}
.green-bg{
    background-color: #38761d !important;
}
.green-border{
    border-color: #38761d !important;
}
/*** blue ***/
.blue{
    color: #4c4cfe !important;
}
.blue-bg{
    background-color: #4c4cfe !important;
}
.blue-border{
    border-color: #4c4cfe !important;
}
/*** orange ***/
.orange{
    color: #FF7F00 !important;
}
.orange-bg{
    background-color: #FF7F00 !important;
}
.orange-border{
    border-color: #FF7F00 !important;
}
/*** orange ***/
.purple{
    color: #9f68ff !important;
}
.purple-bg{
    background-color: #9f68ff !important;
}
.purple-border{
    border-color: #9f68ff !important;
}
/*** tael ***/
.teal{
    color: #008080 !important;
}
.teal-bg{
    background-color: #008080 !important;
}
.teal-border{
    border-color: #008080 !important;
}
/*** maroon ***/
.maroon{
    color: #800000 !important;
}
.maroon-bg{
    background-color: #800000 !important;
}
.maroon-border{
    border-color: #800000 !important;
}
/*** sable ***/
.sable{
    color: #AA5F39 !important;
}
.sable-bg{
    background-color: #AA5F39 !important;
}
.sable-border{
    border-color: #AA5F39 !important;
}
/*** lawngreen ***/
.lawngreen{
    color: #00AD00 !important;
}
.lawngreen-bg{
    background-color: #00AD00 !important;
}
.lawngreen-border{
    border-color: #00AD00 !important;
}
/*** pink ***/
.pink{
    color: #ff92d7 !important;
}
.pink-bg{
    background-color: #ff92d7 !important;
}
.pink-border{
    border-color: #ff92d7 !important;
}
