.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup .popup-content{
    width: 55rem;
    height: 31rem;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 1;
}
.popup .popup-content::after {
    position: absolute;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




.popup-image{
    height: 31rem;
    width: 31rem;
    border-radius: 1.5rem 0 0 1.5rem;
}
.popup-title{
    color: white;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    width: 20rem;
}
.popup-text{
    position: absolute;
    margin-top: 8.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 20rem;
}


.popup-special-LES{
    margin-left: 0;
}
.popup-special-TWOAF{
    margin-left: -20rem;
}
.popup-special-VIRUS{
    margin-left: -40rem;
}
.popup-special-VECTOR{
    margin-top: -17rem;
}
.popup-special-TL{
    margin-left: -20rem;
    margin-top: -17rem;
}
.popup-special-TOT{
    margin-left: -40rem;
    margin-top: -17rem;
}










.popup-dates {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-dates .popup-content-dates{
    width: 80rem;
    height: 14rem;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 1;
}
.popup-dates .popup-content-dates::after {
    position: absolute;
}
.popup-dates .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popup-special-FR{
    background-image: url("../images/FR-bandeau.png");
}
.popup-special-EN{
    background-image: url("../images/EN-bandeau.png");
    margin-left: -33rem;
}
.popup-special-US{
    background-image: url("../images/us-bandeau.png");
    margin-left: -66rem;
}

.popup-background-dates{
    background-repeat: no-repeat;
    background-size: 100% auto;
 }
.dates-no-date{
    text-transform: uppercase;
    margin: auto;
    font-size: 4rem;
    text-shadow:0 2px 0 #000000,
                0 -2px 0 #000000,
                2px 0 0 #000000,
                -2px 0 0 #000000;
}
