@keyframes defile {
    100% { background-position-y:   0; }
    0% { background-position-y: 167vw; }
}
a{
    cursor: default;
}
.accueilBackground {
    margin: 0;
    padding: 0;
    height: 167vh;
    background: url(../images/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    animation: defile 100s ease-in-out infinite;
}
.headerButton{
    font-size: 1.2rem;
    transition-duration: 0.2s;
    text-decoration:none;
}
.headerButton:hover{
    font-size: 1.3rem;
    transition-duration: 0.2s;
}
::-webkit-scrollbar {
    width: 0;
}
.content{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1rem;
}
.eba-visibilite-Element{
    height: 80%;
    min-height: 80%;
    max-height: 80%;
    margin: 1.5rem;
    padding: 0 3rem 3rem 3rem ;
}
.page-title{
    text-align: center;
    font-size: 3rem;
    border-bottom-style: solid !important;
    border: 2px;
}
.glassmorphism{
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.musicTitle{
    font-size: 2rem;
    text-align: center;
}
#albumBox{
    width: 18rem;
    margin: auto;
    position:relative;
}
.albumTitleBox{
    position:absolute;
    z-index:2;
    font-size:200%;
}
.albumCoverBox{
    position:absolute;
    z-index:1;
}
.albumTitle{
    color: rgb(0, 0, 0, 0%);
    text-align: center;
    width: 18rem;
    height: 18rem;
    font-size: 2rem;
    margin-top: 8rem;
    transition-duration: 1s;
    transition-delay: 0s;
}
#albumBox:hover .albumTitle{
    transition-duration: 1s;
    transition-delay: .5s;
    color: white;
}
.albumCover{
    transition-duration: .5s;
    transition-delay: .5s;
    height: 18rem;
    margin: 1rem auto auto;
    border-radius: 1.5rem;
}
#albumBox:hover .albumCover{
    filter: brightness(50%);
    transition-duration: .5s;
    transition-delay: 0s;
    border-radius: 3rem;
}

#coverBox{
    width: 18rem;
    margin: auto;
    position:relative;
}
.coverTitleBox{
    position:absolute;
    z-index:2;
    font-size:200%;
}
.coverCoverBox{
    position:absolute;
    z-index:1;
}
.coverTitle{
    color: rgb(0, 0, 0, 0%);
    text-align: center;
    width: 18rem;
    height: 18rem;
    font-size: 2rem;
    margin-top: 8rem;
    transition-duration: 1s;
    transition-delay: 0s;
}
#coverBox:hover .coverTitle{
    transition-duration: 1s;
    transition-delay: .5s;
    color: white;
}
.coverCover{
    transition-duration: .5s;
    transition-delay: .5s;
    height: 18rem;
    margin: 1rem auto auto;
    border-radius: 1.5rem;
}
#coverBox:hover .coverCover{
    filter: brightness(50%);
    transition-duration: .5s;
    transition-delay: 0s;
    border-radius: 3rem;
}
.mailContactText{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.glass-button {
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}
.mailTitle{
    margin-top: 2rem;
}
.mailButton{
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin: 1rem auto 0;
}
.socialButton{
    width: 6rem;
    height: 2.5rem;
    border-radius: 2rem;
    margin: .5rem;
}
.socialPersoButton{
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
}
.socialPersoButtonLeft, .socialButtonLeft{
    margin: .5rem .5rem .5rem auto;
}
.socialPersoButtonRight, .socialButtonRight{
    margin: .5rem auto .5rem .5rem;
}