
@font-face {
    font-family: "hexA";
    src: url("../font/Hexa.woff") format("woff"),
    url("../font/Hexa.woff2") format("woff2");
}

div{
    display: flex;
}
.color-grey{
    color : #393E42;
}
.bg-color-grey{
    background-color: #393E42;
}
.bg-color-grey2{
    background-color: #292e2f;
}
.bg-color-white{
    background-color: white;
}
.bg-fondu{
    background: linear-gradient(#0D2AF1, #FF6A00);
}
.bg-black{
    background: linear-gradient(#1B1B1B, #000000);
}
.p-all-1{
    padding: 0.3rem;
}
.corner-1{
    border-radius: 1rem;
}
.corner-1-1{
    border-radius: 2rem;
}
.corner-2{
    border-radius: 1.2rem;
}
.corner-3{
    border-radius: 1.2rem;
}
.header{
    height: 5rem;
    width: 74rem;
    margin-left: auto;
    margin-right: auto;
}
.button-header{
    margin: 0.3rem;
    height: 2rem;
    width: 6rem;
    background: linear-gradient(#151515, #060606);
    border-radius: 1rem;
    transition-duration: 0.2s;
}
.button-header:hover{
    margin: 0;
    height: 2.6rem;
    width: 6.6rem;
    border-radius: 0;
    transition-duration: 0.2s;
}
.button-fond-header{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

A {
    text-decoration: none;
    color: #707070;
}


.btn-special-1{
    margin-left: 4rem;
}
.btn-special-2{
    margin-left: 1rem;
}
.btn-special-3{
    margin-right: 1rem;
}
.btn-special-4{
    margin-right: 4rem;
}
.image-header{
    width: 30rem;
}
.bouton-text{
    justify-content: center;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    font-family: hexA, serif;
}


.m-l-5, .m-x-5{
    margin-right: 5rem;
}
.m-r-5, .m-x-5{
    margin-left: 5rem;
}
.m-l-4, .m-x-4{
    margin-right: 4rem;
}
.m-r-4, .m-x-4{
    margin-left: 4rem;
}
.m-l-3, .m-x-3{
    margin-right: 3rem;
}
.m-r-3, .m-x-3{
    margin-left: 3rem;
}
.m-l-2, .m-x-2{
    margin-right: 2rem;
}
.m-r-2, .m-x-2{
    margin-left: 2rem;
}
.m-l-1, .m-x-1{
    margin-right: 1rem;
}
.m-r-1, .m-x-1{
    margin-left: 1rem;
}





.m-t-05{
    margin-top: 0.5rem;
}
.m-t-1{
    margin-top: 1rem;
}
.m-t-105{
    margin-top: 1.5rem;
}
.m-t-2{
    margin-top: 2rem;
}
.m-t-3{
    margin-top: 3rem;
}
.m-t-4{
    margin-top: 4rem;
}
.m-t-5{
    margin-top: 5rem;
}
.m-t-10{
    margin-top: 10rem;
}
.p-t-05{
    padding-top: 0.5rem;
}
.p-t-1{
    padding-top: 1rem;
}
.p-t-105{
    padding-top: 1.5rem;
}
.p-t-2{
    padding-top: 2rem;
}
.p-t-3{
    padding-top: 3rem;
}
.p-t-4{
    padding-top: 4rem;
}
.p-t-5{
    padding-top: 5rem;
}



.BONJOUR{
    color: red;
    margin-top: 10rem;
    justify-content: center;
    font-size: 15rem;
}










.imgs{
    height: 14rem;
    width: 14rem;
    transition-duration: 0.2s;
    border-radius: 1.5rem;
    margin: auto;
}
.imgs:hover{
    height: 13rem;
    width: 13rem;
    transition-duration: 0.2s;
}
.imgs-div{
    height: 14rem;
    width: 14rem;
}
.imgs-border{
    border-radius: 50rem;
    height: 13rem;
    width: 13rem;
    background: linear-gradient(#0D2AF1, #FF6A00);
    transition-delay: 0.2s;
}
.imgs-border:hover{
    border-radius: 1.7rem;
    height: 14rem;
    width: 14rem;
    transition-delay: 0s;
}
.ligne-img{
    justify-content: center;
}
.flex{
    display: flex;
}





.ligne-dates{
    justify-content: space-around;
}
.dates-div{
    height: 14rem;
    width: 14rem;
}
.imgs-dates{
    height: 14rem;
    width: 14rem;
    transition-duration: 0.2s;
    border-radius: 1.5rem;
    margin: auto;
}
.imgs-dates:hover{
    height: 13rem;
    width: 13rem;
    transition-duration: 0.2s;
}
.imgs-border-dates{
    border-radius: 1.5rem;
    height: 13rem;
    width: 13rem;
    background: linear-gradient(#0D2AF1, #FF6A00);
    transition-delay: 0.2s;
}
.imgs-border-dates:hover{
    border-radius: 1.7rem;
    height: 14rem;
    width: 14rem;
    transition-delay: 0s;
}








.contact{
    height: 30rem;
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
}
.contact-div{
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.contact-top{
}
.contact-bottom{
    position: absolute;
    margin-top: 15rem;
    width: 65rem;
}
.contact-imgs{
    height: 12rem;
    width: 12rem;
    justify-content: center;
    transition-duration: 0.2s;
    margin: auto;
}
.contact-imgs:hover{
    transition-duration: 0.2s;
    height: 11rem;
    width: 11rem;
}
.contact-outside{
    margin: auto;
}
.contact-mail{
    height: 8rem;
    width: 50rem;
    border-radius: 4rem;
}
.contact-mail-inside {
     height: 7rem;
     width: 35rem;
     margin: 0.5rem 0.25rem 0.5rem 0.5rem;
     border-radius: 3.75rem 0 0 3.75rem;
}
.contact-send-inside{
    height: 7rem;
    width: 13.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0.25rem;
    border-radius: 0 3.75rem 3.75rem 0;
    transition-duration: 0.2s;
}
.contact-send-inside:hover{
    height: 6.5rem;
    width: 13rem;
    margin: 0.75rem 0.75rem 0.75rem 0.5rem;
    border-radius: 0 3.75rem 3.75rem 0;
}
.contact-text{
    color: white;
    margin: auto;
    font-size: 3rem;
    font-family: hexA, serif;
}
.color-white{
    color: white;
}



body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.background-one {
    background-color: #151515;
}

.background-two {
    background-color: #151515;
}

.background-three {
    background-color: #151515;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 0;
}

a {
    font-family: "Bungee", cursive;
    font-size: 2.5em;
}

.link-one {
    color: #53d9d1;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
    line-height: 1em;
}

.link-one:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

    /* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
}

.link-one::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #53d9d1;

    clip-path: circle(0% at 50% calc(50%));
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
    clip-path: circle(100% at 50% 50%);
}

.link-one::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #151515;

    clip-path: polygon(
            40% 0%,
            60% 0%,
            60% 0%,
            40% 0%,
            40% 100%,
            60% 100%,
            60% 100%,
            40% 100%
    );

    /*
    Didn't look consistently awesome enough
    across different viewing widths.
    clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
    */
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
    /*
    clip-path: polygon(
      20% 45%,
      10% 40%,
      30% 30%,
      40% 35%,
      60% 35%,
      70% 30%,
      90% 40%,
      80% 45%,
      60% 35%,
      40% 35%,
      20% 45%,
      20% 55%,
      10% 60%,
      30% 70%,
      40% 65%,
      60% 65%,
      70% 70%,
      90% 60%,
      80% 55%,
      60% 65%,
      40% 65%,
      20% 55%
    );
    */
    clip-path: polygon(
            40% 10%,
            60% 10%,
            60% 35%,
            40% 35%,
            40% 90%,
            60% 90%,
            60% 65%,
            40% 65%
    );
}

.link-two {
    color: #f27b9b;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.link-two:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    clip-path: polygon(
            0% -20%,
            100% -30%,
            100% -10%,
            0% 0%,
            0% 130%,
            100% 120%,
            100% 100%,
            0% 110%
    );
    background-color: #f27b9b;

    transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-two:hover::before {
    clip-path: polygon(
            0% 10%,
            100% 0%,
            100% 20%,
            0% 30%,
            0% 100%,
            100% 90%,
            100% 70%,
            0% 80%
    );
}

.link-two::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 5ch;
    height: 5ch;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(0deg) scale(0);
    transition: transform 1s ease;

    background-color: #f27b9b;
}

.link-two:hover::after {
    transform: translate(50%, -50%) rotate(135deg) scale(1);
}

.link-three {
    color: #eb7132;
}

.link-three::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0, -50%) scaleY(0);
    transition: transform 1s ease;
    mix-blend-mode: difference;

    clip-path: polygon(
            20% 60%,
            100% 60%,
            100% 40%,
            20% 40%,
            20% 0%,
            60% 0%,
            60% 20%,
            20% 20%
    );

    background-color: #eb7132;
}

.link-three:hover::after {
    transform: translate(0, 0%) scaleY(1);
}

.link-three::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    transform: translate(0, 50%) scaleY(0);
    transition: transform 1s ease;
    mix-blend-mode: difference;

    clip-path: polygon(
            80% 40%,
            0% 40%,
            0% 60%,
            80% 60%,
            80% 100%,
            40% 100%,
            40% 80%,
            80% 80%
    );

    background-color: #eb7132;
}

.link-three:hover::before {
    transform: translate(0%, 0%) scaleY(1);
}
