@keyframes defile {
    100% { background-position-y:   0; }
    0% { background-position-y: 167vw; }
}
body, .accueilBackground { margin: 0; padding: 0;  }
.accueilBackground {
    height: 167vh;
    background: url(../images/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    animation: defile 100s ease-in-out infinite;
}
.headerButton{
    font-size: 1.2rem;
    transition-duration: 0.2s;
    text-decoration:none;
}
.headerButton:hover{
    font-size: 1.3rem;
    transition-duration: 0.2s;
}
::-webkit-scrollbar {
    width: 0;
}
.content{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.eba-visibilite-Element{
    height: 70%;
    min-height: 70%;
    max-height: 70%;
    margin: 3rem;
    padding: 0 3rem 3rem 3rem ;
}
.page-title{
    text-align: center;
    font-size: 3rem;
    border-bottom-style: solid !important;
    border: 2px;
}