.Tcolor-black{
    color: #000000 !important;
}
.Tcolor-darkerGrey{
    color: #202020 !important;
}
.Tcolor-darkGrey{
    color: #404040 !important;
}
.Tcolor-grey{
    color: #808080 !important;
}
.Tcolor-lightGrey{
    color: #a0a0a0 !important;
}
.Tcolor-lighterGrey{
    color: #c0c0c0 !important;
}
.Tcolor-brokenWhite{
    color: #f8f8f8 !important;
}
.Tcolor-white{
    color: #ffffff !important;
}
.Tcolor-deepBlue{
    color: #03045E !important;
}
.Tcolor-darkBlue{
    color: #0077B6 !important;
}
.Tcolor-blue{
    color: #00B4D8 !important;
}
.Tcolor-lightBlue{
    color: #90E0EF !important;
}
.Tcolor-heavenBlue{
    color: #CAF0F8 !important;
}