.Bcolor-black{
    border-color: #000000 !important;
}
.Bcolor-darkerGrey{
    border-color: #202020 !important;
}
.Bcolor-darkGrey{
    border-color: #404040 !important;
}
.Bcolor-grey{
    border-color: #808080 !important;
}
.Bcolor-lightGrey{
    border-color: #a0a0a0 !important;
}
.Bcolor-lighterGrey{
    border-color: #c0c0c0 !important;
}
.Bcolor-brokenWhite{
    border-color: #f8f8f8 !important;
}
.Bcolor-white{
    border-color: #ffffff !important;
}
.Bcolor-deepBlue{
    border-color: #03045E !important;
}
.Bcolor-darkBlue{
    border-color: #0077B6 !important;
}
.Bcolor-blue{
    border-color: #00B4D8 !important;
}
.Bcolor-lightBlue{
    border-color: #90E0EF !important;
}
.Bcolor-heavenBlue{
    border-color: #CAF0F8 !important;
}